<div class="box" data-info="Recommended Sport" ng-repeat="event in events">
    <div><a href="#/{{event.category || 'meetup'}}/{{event.id || 12}}"><img src="http://flickholdr.com/200/300" alt="iamge" /></a></div>
    <div>
        <h1>{{event.name}}</h1>
        <p>{{event.time}}</p>
        <p>PNE Amphitheatre</p>
    </div>


</div>
<div class="box">
    <div><a href="#"><img src="http://placehold.it/200x250" alt="iamge"></a></div>
    <div>
        <h1 class="ng-binding">Click here to load more data</h1>
    </div>
</div>